# Copy this file to config.yaml in dev/ directory and set the values as needed.
namespaces:
  # List of DB namespaces that will be created automatically
  - name: my-special-place
    # List of DB operators that will be deployed into DB namespace
    operators:
      - pxc
      - psmdb
      - pg
  - name: the-dark-side
    operators:
      - pxc
      - psmdb
      - pg
