spec:
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
    type: RollingUpdate
  template:
    spec:
      affinity:
        podAntiAffinity: {}
      containers:
        - name: everest
          image: 127.0.0.1:5000/perconalab/everest:0.0.0
          env:
            - name: API_REQUESTS_RATE_LIMIT
              value: "200"

