apiVersion: v1
kind: Namespace
metadata:
  name: minio
  labels:
    name: minio
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-data
  namespace: minio
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: minio
  name: minio
  namespace: minio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
        - name: minio
          image: quay.io/minio/minio:latest
          command:
            - /bin/bash
            - -c
          args:
            - minio server /data --certs-dir /tmp/.minio/certs --console-address :9090
          volumeMounts:
            - mountPath: /data
              name: minio-data-vol
            - mountPath: /tmp/.minio/certs
              name: minio-cert
      initContainers:
        - name: init-minio
          image: busybox
          env:
            - name: BUCKET_DIRS
              value: "bucket-1,bucket-2,bucket-3,bucket-4,bucket-5,bucket-6"
          command:
            - /bin/sh
            - -c
          args:
            - |
              IFS=',' ; for i in $BUCKET_DIRS; do mkdir -p /data/$i || true ; done
          volumeMounts:
            - mountPath: /data
              name: minio-data-vol
      volumes:
        - name: minio-data-vol
          persistentVolumeClaim:
            claimName: minio-data
        - name: minio-cert
          secret:
            secretName: minio-cert
---
apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: minio
spec:
  type: ClusterIP
  selector:
    app: minio
  ports:
    - protocol: TCP
      port: 443
      targetPort: 9000
---
apiVersion: v1
kind: Secret
metadata:
  name: minio-cert
  namespace: minio
type: opaque
data:
  public.crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZXekNDQTBPZ0F3SUJBZ0lVYjdoU3U2cUU3U05sL0F5eXd5cm1qRWIrR1pzd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0tERW1NQ1FHQTFVRUF3d2RiV2x1YVc4dWJXbHVhVzh1YzNaakxtTnNkWE4wWlhJdWJHOWpZV3d3SGhjTgpNalF3TlRBM01USXhPRFV6V2hjTk16UXdOVEExTVRJeE9EVXpXakFvTVNZd0pBWURWUVFEREIxdGFXNXBieTV0CmFXNXBieTV6ZG1NdVkyeDFjM1JsY2k1c2IyTmhiRENDQWlJd0RRWUpLb1pJaHZjTkFRRUJCUUFEZ2dJUEFEQ0MKQWdvQ2dnSUJBTkMxalVGaFZkYXBtb2MrbGpzMnRPS1M4bXFGT0pSNUx6K2FyM3QyM1lBTW9wU1lHNlNLYjBMegpPeTM4eS9RS0I1SlRWL1BEbm9QaEFOWkE0QjZmalZDMGZTWkxHWFl4aVRDQzdhTS90SVN1TFNBNmVSNHgwUmpFCjhLUk50dEJMVm91a2RMdmRjNktkT1FEMkdWSVhQNHBnZDBiV2RMVWdPaUQxdjlvSk9mTUdrYlhPenJ6bFE2NkYKTlEwUEQvOVNMUjVZVjB0UDhxU1ZlNWFOVXdQNG5ZWUFwSHhiTTVucEFnK2xvNnBDUXQ1WnNzbmtWZWF1Q29FcwpGcjlJemNqakhxSlJ4c0taZU1UOG5wYXZEalBpVE5MYUh0VDRQTWpOTE56RmwxcC80S1UwUVhBa09OS2tHVzVjCll5N0U0S3JBRHE0VEo4Tis5cXZNRjVwdlRHbkF3OGNMbDlibE1rUnNpM0ZaNlJBLzhob1dtTkkzeCtEV1BxdHYKSEpQcmlNMVU2K1dBNkRUa3dtNWVWL2hCd3pnTkR5ek5MODlpcm9ocjNBQitqMEQyY25uLzJ1S2p5T3BzU2g4OApsZlcxK3kzNklUMlBlVnBFREpMM285eTVmV1JhQ3Y4bVZSQmNERUU4elZwckNCc0ZYbWlIWkhLSWJSWlRQYUF2CjIxNWpkbnhsbEdoNEZWcUxFTDlCNVpKUERwSDUvM2pYenB1bjQ1U05SNjIrM0lWT2tTRkZRVmthUG00d1AxZkYKQ0diejdZY1JYU0hETW1wd2pDenBGaVpGNzlrbzdCa3laWHBYYm81bXlVVzJKSjdlS29IWWt1emh3NWJFeitjSQppSERtb285eFplcGVrZGNLYnpUSWZTa3NSOHlGdnJsUUFBUE1Cd21GRlpwYjdWeGIvV1ViQWdNQkFBR2pmVEI3Ck1CMEdBMVVkRGdRV0JCU0FQOGtkR0UrNGZubUJHZmZGWEtKWE9zd2xuekFmQmdOVkhTTUVHREFXZ0JTQVA4a2QKR0UrNGZubUJHZmZGWEtKWE9zd2xuekFQQmdOVkhSTUJBZjhFQlRBREFRSC9NQ2dHQTFVZEVRUWhNQitDSFcxcApibWx2TG0xcGJtbHZMbk4yWXk1amJIVnpkR1Z5TG14dlkyRnNNQTBHQ1NxR1NJYjNEUUVCQ3dVQUE0SUNBUURICnkwVHozd1hxTnhnVGtIY0wvRWdqdDFxNDQ4THdkN285d2NFWDRXVGxHNkRYVHlMTnBNczZYZ0E1QjJDQkpkdnoKcU1nVkE2TzNIVzdNOUQ5Tnlka3dRZWcyL3p3MDVyWWxmamY1alZzSklGKzJVLzBuZW9FbWp6QzNEdmxtN25MVwpRVHhWd3BCNklyVVk2VzRRMlhQL0hraStySVhnNXFHQ1VoL0Zkdi9DMTZBMDBjWmtURmp6dmZaZHJObllUVnp3Clh5OWtWUnFabFZiL0RxRDRmVkFTeVJlRCt0L09qTnhPbUZVb1krUGU4NUF4aVE1azk3MVpleHdwakUvYW9RZ0MKTW9hWWw1NFVZU21NM01wT0ZuSTl4U2QvOTJGVW1KemljdXB2SzA3RDZjYWJvM0lEMFNiV3ZxN2tLSDNUaFFFWgpOdzY0bXVzdERUSVB0emVlc3YwMXdmMGVWQXJNZW5QcEZENXc3MWw3ai9yK0swR2drYXliNHdkMzhjUEhWRDJlCjFCYU9CSjNXa29VL3VaY3lwbTl0S0llU0pvd0g2OW82QlhOWXVsOHlHVHBzam1YV1NBNG9Ybm41VEI1Q2tLUTgKS1c4Yks4SnJIQ0MyYWMzUi91OGdTaUxrQ0NlT1Rla05CUmkzMnlZMGFPVFlqY2oxRURFWnNHM3h4MUhPb21hcQpFZHY1amcxRWIxUW1WeE1JNm4zYTZncTVpbW1GTkhJNTlGYWVGTEwvd1hERUYxUTdRbFV3R0ZienplZnpqN1ZyCnF6WVFxYitpYnFBdnFxOU9tc1lGRGRTKzY4S201aStDMDZFckgyWDBQVmR3L0pHSnMxOTZxcXdHOElodDB1V28KN25GYTNuYmtBTStuckViQ1lzSS9RZlcyQ1BwZHlGbG1NaDFOTkxCVldBPT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
  private.key: LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUpSQUlCQURBTkJna3Foa2lHOXcwQkFRRUZBQVNDQ1M0d2dna3FBZ0VBQW9JQ0FRRFF0WTFCWVZYV3FacUgKUHBZN05yVGlrdkpxaFRpVWVTOC9tcTk3ZHQyQURLS1VtQnVraW05Qzh6c3QvTXYwQ2dlU1UxZnp3NTZENFFEVwpRT0FlbjQxUXRIMG1TeGwyTVlrd2d1MmpQN1NFcmkwZ09ua2VNZEVZeFBDa1RiYlFTMWFMcEhTNzNYT2luVGtBCjlobFNGeitLWUhkRzFuUzFJRG9nOWIvYUNUbnpCcEcxenM2ODVVT3VoVFVORHcvL1VpMGVXRmRMVC9La2xYdVcKalZNRCtKMkdBS1I4V3pPWjZRSVBwYU9xUWtMZVdiTEo1RlhtcmdxQkxCYS9TTTNJNHg2aVVjYkNtWGpFL0o2VwpydzR6NGt6UzJoN1UrRHpJelN6Y3haZGFmK0NsTkVGd0pEalNwQmx1WEdNdXhPQ3F3QTZ1RXlmRGZ2YXJ6QmVhCmIweHB3TVBIQzVmVzVUSkViSXR4V2VrUVAvSWFGcGpTTjhmZzFqNnJieHlUNjRqTlZPdmxnT2cwNU1KdVhsZjQKUWNNNERROHN6Uy9QWXE2SWE5d0FmbzlBOW5KNS85cmlvOGpxYkVvZlBKWDF0ZnN0K2lFOWozbGFSQXlTOTZQYwp1WDFrV2dyL0psVVFYQXhCUE0xYWF3Z2JCVjVvaDJSeWlHMFdVejJnTDl0ZVkzWjhaWlJvZUJWYWl4Qy9RZVdTClR3NlIrZjk0MTg2YnArT1VqVWV0dnR5RlRwRWhSVUZaR2o1dU1EOVh4UWhtOCsySEVWMGh3ekpxY0l3czZSWW0KUmUvWktPd1pNbVY2VjI2T1pzbEZ0aVNlM2lxQjJKTHM0Y09XeE0vbkNJaHc1cUtQY1dYcVhwSFhDbTgweUgwcApMRWZNaGI2NVVBQUR6QWNKaFJXYVcrMWNXLzFsR3dJREFRQUJBb0lDQUZTdzkyc0tkbXl2VWplRFhDOFhHZnUvCktZTzBINnVRS1c0ajlRV2l6R3REdFUyYkU4eUhLSE1BaElrNnhnQjNlVzhWUnVGeUJnYjU3UDhFUUczc3pNbHQKRkVQUHdidEdpcWNXMmh1ZXBFQWE5ZERZS1lIcE1USmQ2RkNrQUlVeHJTTHBUejFVdGJITkh1Nlc3dHR5OTZQTgpWVmwzZU5CdkRXZUdrWjJHbE85YlFSR0hwRGpleDhJdjU4RXUxWTBENmE4Z3BmdTNxM3pCOCs2NTFuQU1HTS9oCnZ0MS9uTWJkMktwRXlzOHlLRFJXTGNqalVVQlVhNHJUT3ovUDZVR1ZlRDdoOUVmUFEwU2NSalpiUHVZcTlJV3oKWVVPR29CUFR2bHF3QzZUN3Mwc1drMTlRTTRhMmRHTm1OaEVxYndpYSt0b0VoK1E2eHhvYnJaQkxqYlIwTm56NQpIZXF5aXo3RDQwQ3Y0Y2lTekQ1KzhiZmV2VTJoZWdhYUtTbTExamFBZkkzazR5VDkrMzNYaS9FUjFGdjh4RllSClhuK2V1cU1SLzJGWGcwMUlObHhQYkx6UXJOb2NiQk5pZ1dOWFpUQitEcXNZNHVCSXpHUEFBVEg0amt6TTZ0S2QKSlFNdG1XNjUxYmpsMjVvRUFXUU4wd244Z3lrY0pWZ3FIQU1wakcrS3N0YWcxQ3R2QjBieGVaSjRDL3RHK0pYaQpqVW4xZTFlMkMrY1FJeDZFSnh6Mm5ZOXMwU0ZYZ3VhZVJjNlN2SGNieUJtMDhzT1ZLM2RzN29rQlBHWGZRdi9LCnBFU0VtcElQbkxKSldDQ0JHbEN2ZVZ0d2UwZlVzcUFFYUxoeVFRZGVjUjVPQVV3SkNObUlQcjZFRGdxMW1na28KVnovdUNUYitwWVhBRWZ0OExEbWhBb0lCQVFEeGszRjlMYUhtb0R3NGpwQTdhbEF5OGRwcFJad2tOS2JBRWNrRwpSZ0VrT0tXNXM5N01PdkprSDVtYnUyV1ZodjZpc3l5bVZRdjdIUUtIVUl3YUxpTDlqVzcwSDJDMTl0L3RQR1RKClY5bm8wV1FIL1lPZ0tuL0dqSjBQdU8yUU85OUgzNXJzWGY4ZWdhSy9oQm5EQ1hWWHl3aEI4emFVajB1LzBoTVIKL1hJZW5yUk9ZZk4vMnhFSmpubGsrcE4rMlBoQTd4ZnM1K1M0Nkd1cVVsZVBab2dlcVp1d1FWdnFoajVFN3VobQpTWjNUTTljS3E3Q3k5WXJycmYvSGpFbFpxV1dnb2h6cXY1QzVOK1VFK1VPaVF3bm94ZkkwdkhXRThZUXo1bXFvClhraU8wSjROYzZLZ2lYVlVPQUtlRGU1aTMwYUJzdHd4S0g4V0pJT25TVGRFSEZOcEFvSUJBUURkSzdzT1hDVFoKOUtLK0xmYjVHeGlVOXlDZUU5OEVCUGt3TUovNDRVTHAxMGs4aWNlbnZsL3ZrMTdFS29rOUxMUXZhUGdxbGpEbwpLaTFIbmljTksvRWxjb3lRNW1nYXVaaGlzTzl0V3RnTTdqQ3JrQ2hqcG9Db1QrMmNqc0YrMHdtSlUvbkFwcExMCkVDU3VkTnE5SEVvVWNWcEM5Z2xwOGs2cXl3bnIvemdsRjA1SU5WRExzR0J6djVTN0NqMVV5QlI1ejFGK1NXK2cKNVExVC9uN3NFUlAyL3QvODRTZGQ2OHBENUo1ekN1bk1lNjJYWTJSbEllc3FKbUp5dFZyVWdoSUdnbTg1aE8vcApKWjlsbm1Rc3I5UzNZL3lhU2N4VHU1djJRb1lnd2ZyWHpCQnVUdjEyeE5JWmFrTVVmTU0rZEZiMmt0aVVtZXBCCkU5RDZKU2p4T1JmakFvSUJBUUNZenFvNEExaG8yS3lmSGRhd0xxU0NSU2ZoOVMwNlhhK295TmMreDZOTE5TWG4KWEphdTJ3NmVOTHJtbmxnNGlFYWp4ZkNWV2pDVTdCbkFYRHZ6QjRJTW5wMHpnSEdkU0ljR3VuQUtTQzdIclVPNApKaTFQYi9LWk5qTFhVaU83VzVQMkU4UWNoYXl0c0ZTeERpOTVobzhhTkl5Sm92M0FaUkFHU3l6UzhWMXhidlFnCnJLYnBGam9sc0dDcmRqRThTS1JuOXBWTXZyYVlIRFNXYlRXRHVOaWJoSys5Z3VwUVpCQVpiSUhHeWdReUo1VjcKNDNTSER2aUw4ZWxjWVNtNHRJVmJZWkFuRVh2TEhVY1pxVTZWNGcvdmxONkxhelp2SEpLQ2ZkcXptOGdMeG54agpoK1N6NVo4NDRhRU9OME8yZVFOUllVRVZPMGVBU3lLWCs2RWd6VVlaQW9JQkFRQ1grMVFJTXlPVHJyc2lxdDFiCkl0YUtqeU9YM1JuVVhrS0tiZStRQytONlkxbE5RM1N5Zld6WmFkQ21Sb0NXVENEcHIxMVJqbkcvS0RTRFVWZU8KZ3BLc1pBSGFGS3FYS3RCZmlTeU9YZTIzUFBxdStsbjIyRlR5MURINDhsUmUvVkJCVVRaL3Z6ZUNXTzZMLzNyTQpseU1FMXp2cVpiM2tVd0RoOXJJenZPYnMvZzNxS3RFQmw0dEFIdmRxYkVmbStiS3dYZG1uU1hsdSs5ZGp6NitTCk1zNGdYZGEzcEZUMEFuSzBvdWFMTVlXbDRadFJPNWlpc21NeVRMdzhEUW1FbkhrY2hnYytaRzZrTFJsU3NEd3cKUlFlTW1pWGNORGczbGVVL25Va2tPNGhQUUVoT05QT1I2UUJqUEpVcC8rMysvZDFBaFhwVTYwdUJPc2ZSRFRZTQpSV3AzQW9JQkFRRGk3Vk9Vdis1VDluS1RoSUh4ZEJLbzhvamJEY1pUcjB1SjRtckVjRVZickdTMkdLK0p1eTJOCjVhL2tnd0N3VVlIQ1FBU05VN3c5Z2NRY2tsUFh0WGorL1Q3THhQSUl2aWRTTTdsQjBjNVpCNHlrYVNUVG5LdnUKY010OUtCcTdLbjFPU3NUcjl4OTQ3cTRKNVJmQTkybDFsQjJ0MHdmbFk1anJtOU5VUnljb1dwcXhrR2kwdS9nQwoxMzRJU09JMlo2SndDK0t4aVBEZ3czbkNiamhaT1VjOFR1cUZ0SDlZSTdPRTBOdmVjeVB1MlRKTk9vK0pTNzFBCkpvRzhjRVF6amE0VDArUmttRlJXNFFieGk0Tzk0N3dTMHpvTnFaeXExb2Y4N2x1SWpNTnpnZGdtYjFFbVErODkKT0Q2SzNQOGI1a1RHWmJsNE5GRjFjOWpwRU5PUEJxZC8KLS0tLS1FTkQgUFJJVkFURSBLRVktLS0tLQo=
