---
name: CLI tests
on:
  workflow_call:
    inputs:
      make_target:
        description: 'Make target to execute'
        type: string
        required: true

jobs:
  integration_tests:
    strategy:
      fail-fast: true
    continue-on-error: false
    name: CLI ${{inputs.make_target}}
    runs-on: ubuntu-latest
    timeout-minutes: 60
    env:
      PERCONA_VERSION_SERVICE_URL: https://check-dev.percona.com/versions/v1
      MAKE_TARGET: ${{ inputs.make_target }}
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v5
        with:
          lfs: true
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Go release
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Install Kubernetes tools
        uses: ./.github/actions/install-kubernetes-tools
        with:
          install-kubectl: true
          install-k3d: true

      - name: Adjust GitHub worker node
        uses: ./.github/actions/adjust-github-node
        with:
          adjust-host-for-k3d: true
          mount-docker-data: true

      - name: Run K3D test cluster
        run: |
          make k3d-cluster-up

      - name: Build Everest API Server binary
        run: |
          make build-debug

      - name: Build Everest API server docker image
        run: |
          make docker-build

      - name: Upload Everest API server image to K3D test cluster
        run: |
          make k3d-upload-server-image

      - name: Build Everest operator docker image
        run: |
          make docker-build-operator

      - name: Upload Everest operator image to K3D test cluster
        run: |
          make k3d-upload-operator-image

      - name: Build Everest CLI binary
        run: |
          make build-cli-debug

      - name: Init ${{ env.MAKE_TARGET }} integration tests
        working-directory: cli-tests
        run: |
          make init

      - name: Run ${{ env.MAKE_TARGET }} integration tests
        working-directory: cli-tests
        id: cli-tests
        run: |
          make ${{ env.MAKE_TARGET }}

      - name: Collect logs from backend
        if: ${{ always() && steps.cli-tests.outcome != 'success' }}
        working-directory: cli-tests
        run: 'echo "here should be a command to extract and save backend logs"'

      - name: Attach the report
        if: ${{ always() && steps.cli-tests.outcome != 'skipped' }}
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.MAKE_TARGET }}-report
          path: cli-tests/test-report
          overwrite: true
