---
name: API CI
on:
  push:
    branches:
      - tmp-debug
  pull_request:
    paths-ignore:
      - 'ui/**'
      - '.github/workflows/dev-fe-ci.yaml'

permissions:
  contents: read
  packages: write
  checks: write
  pull-requests: write

env:
  GONOPROXY: 'github.com/percona'
  GONOSUMDB: 'github.com/percona'
  GOPRIVATE: 'github.com/percona'

jobs:
  integration_tests_api:
    name: API Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Set up Go release
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - uses: pnpm/action-setup@v4
        with:
          version: 9.4.0

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 20.x
          cache: "pnpm"
          cache-dependency-path: api-tests/package-lock.json

      - name: Install Kubernetes tools
        uses: ./.github/actions/install-kubernetes-tools
        with:
          install-kubectl: true
          install-k3d: true

      - name: Adjust GitHub worker node
        uses: ./.github/actions/adjust-github-node
        with:
          adjust-host-for-k3d: true
          mount-docker-data: true

      - name: Run K3D test cluster
        run: |
          make k3d-cluster-up

      - name: Build Everest API Server binary
        run: |
          make build-debug

      - name: Build Everest API server docker image
        run: |
          make docker-build

      - name: Upload Everest API server image to K3D test cluster
        run: |
          make k3d-upload-server-image

      - name: Build Everest operator docker image
        run: |
          make docker-build-operator

      - name: Upload Everest operator image to K3D test cluster
        run: |
          make k3d-upload-operator-image

      - name: Build Everest CLI binary
        run: |
          make build-cli-debug

      - name: Deploy Everest to K3D test cluster
        timeout-minutes: 10
        run: |
          make deploy

      - name: Init testing (CI) environment
        working-directory: api-tests
        timeout-minutes: 20
        run: |
          make ci-init

      - name: "Setup tmate debug ssh session"
        uses: "percona/gh-action-action-tmate@v3"
        if: ${{ always() }}

      - name: Run integration tests
        working-directory: api-tests
        timeout-minutes: 20
        run: |
          make test

