name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  NODE_OPTIONS: "--max_old_space_size=4096"
  GONOPROXY: 'github.com/percona'
  GONOSUMDB: 'github.com/percona'
  GOPRIVATE: 'github.com/percona'
  REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      IMAGE_PREFIX: 'ghcr.io/openeverest'
      EVEREST_SERVER_DEV_IMAGE_NAME: 'everest-dev'
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v5
        with:
          lfs: true
          ref: "main"

      - uses: pnpm/action-setup@v4
        with:
          version: 9.4.0

      - name: Run with Node 20
        uses: actions/setup-node@v5
        with:
          node-version: 20.x
          cache: "pnpm"
          cache-dependency-path: ui/pnpm-lock.yaml

      - name: Build Everest Frontend app
        run: |
          cd ui
          pnpm install
          EVEREST_OUT_DIR=${GITHUB_WORKSPACE}/public/dist/ pnpm build

      - name: Set up Go release
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Build Everest
        run: |
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 make build

      - name: Setup docker build metadata
        uses: docker/metadata-action@v5
        id: meta
        with:
          images: ${{ env.IMAGE_PREFIX }}/${{ env.EVEREST_SERVER_DEV_IMAGE_NAME }}
          tags: 0.0.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push everest dev image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}

