---
name: API CI
on:
  push:
    branches:
      - free-some-space

permissions:
  contents: read
  packages: write
  checks: write
  pull-requests: write

env:
  GONOPROXY: 'github.com/percona'
  GONOSUMDB: 'github.com/percona'
  GOPRIVATE: 'github.com/percona'

jobs:
  integration_tests_api:
    strategy:
      fail-fast: true
    continue-on-error: false
    name: API Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Free disk space # an attempt to prevent disk-pressure when deploying minio later
        run: |
          docker system prune -af

