---
name: Release
on:
  push:
    branches:
      - EVEREST-726-release-workflow
#  workflow_dispatch:
#    inputs:
#      version:
#        description: "The RC/Release version, format: X.Y.Z-rcN for RC, X.Y.Z for releases"
#        required: true

permissions:
  contents: read
  packages: write
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      #VERSION: ${{ github.event.inputs.version }}
      VERSION: 100.100.100-rc100
      # branch name in format "release-X.Y"
      BRANCH_NAME: ''
      # GitHub tag name to use for the RC/Release
      GH_TAG: ''
      # Shows if this workflow is triggered for RC or Release
      IS_RC: 0
    steps:
      - name: Validate input
        run: |
          if [[ ! $VERSION =~ ^[0-9]+\.[0-9]+\.[0-9]+(-rc[1-9][0-9]*)?$ ]]; then
            echo "Wrong version format provided, please use "X.Y.Z-rcN" format for an RC or "X.Y.Z" format for a release"
            exit 1
          fi

      - name: Set environment variables based on VERSION
        run: |
          major_minor=$(echo "$VERSION" | sed -E 's/^([0-9]+\.[0-9]+).*$/\1/')
          echo "BRANCH_NAME=release-$major_minor" >> $GITHUB_ENV
          echo "GH_TAG=v$VERSION" >> $GITHUB_ENV
          if [[ ! $VERSION =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "IS_RC=1" >> $GITHUB_ENV
          fi

      - name: Operator - check out
        uses: actions/checkout@v4
        with:
          repository: percona/everest-operator
          path: everest-operator
          token: ${{ secrets.ROBOT_TOKEN }}
      - name: Operator - create release branch
        run: |
          cd everest-operator
          # Check if the branch already exists
          git fetch
          check_branch=$(git ls-remote --heads origin ${RC_BRANCH})
          if [[ -z ${check_branch} ]]; then
            git checkout -b $RC_BRANCH
            # git push origin $RC_BRANCH

            # update version in the Makefile
            sed -i "s/0.0.0/$VERSION/g" Makefile

            make init
            make release

            # configure userdata for commits
            git config --global user.email "everest-ci@percona.com"
            git config --global user.name "Everest RC CI triggered by ${{ github.actor }}"

            # commit and push the updated files
            git commit -a -m "update version"

            git push origin $RC_BRANCH

# comment tags to not trigger the existing workflow in the operator repo
#            git tag $GH_TAG
#            git push origin $GH_TAG
          fi


      - name: Operator - install operator-sdk
        run: |
          mkdir -p $TOOLS_PATH
          echo $TOOLS_PATH >> $GITHUB_PATH

          export ARCH=$(case $(uname -m) in x86_64) echo -n amd64 ;; aarch64) echo -n arm64 ;; *) echo -n $(uname -m) ;; esac)
          export OS=$(uname | awk '{print tolower($0)}')

          export OPERATOR_SDK_DL_URL=https://github.com/operator-framework/operator-sdk/releases/download/v1.25.2
          curl -LO ${OPERATOR_SDK_DL_URL}/operator-sdk_${OS}_${ARCH}

          gpg --keyserver keyserver.ubuntu.com --recv-keys 052996E2A20B5C7E

          curl -LO ${OPERATOR_SDK_DL_URL}/checksums.txt
          curl -LO ${OPERATOR_SDK_DL_URL}/checksums.txt.asc
          gpg -u "Operator SDK (release) <cncf-operator-sdk@cncf.io>" --verify checksums.txt.asc

          grep operator-sdk_${OS}_${ARCH} checksums.txt | sha256sum -c -

          chmod +x operator-sdk_${OS}_${ARCH}
          mv operator-sdk_${OS}_${ARCH} $TOOLS_PATH/operator-sdk

      - name: Operator - build and bundle
        run: |
          make build manifests bundle

      - name: Operator - setup Docker meta for everest-operator
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
#            percona/everest-operator,enable=${{ IS_RC -eq 0 }}
#            perconalab/everest-operator
            perconalab/everest-operator,enable=${{ IS_RC -eq 0 }}
          tags: |
#            type=match,pattern=v(.*),group=1
#            type=match,pattern=v(\d.\d),group=1,enable=${{ !contains(github.ref_name, 'main') }}
#            type=raw,value=latest,enable=${{ !contains(github.ref_name, 'rc') }}
            type=raw,value=100.100.100,enable=${{ IS_RC -eq 0 }}
            type=raw,value=100.100.101,enable=${{ IS_RC -eq 1 }}


#      - name: Operator - setup Docker meta for everest-operator-bundle
#        id: bundle_meta
#        uses: docker/metadata-action@v4
#        with:
#          images: |
#            percona/everest-operator-bundle,enable=${{ github.ref_type == 'tag' && !contains(github.ref_name, 'rc') }}
#            perconalab/everest-operator-bundle
#          tags: |
#            type=match,pattern=v(.*),group=1
#            type=match,pattern=v(\d.\d),group=1,enable=${{ !contains(github.ref_name, 'main') }}
#            type=raw,value=latest,enable=${{ !contains(github.ref_name, 'rc') }}
#            type=raw,value=0.0.0,enable=${{ contains(github.ref_name, 'main') }}


      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Operator - build and push operator everest-operator image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}

#      - name: Operator - build and push everest-operator-bundle image
#        uses: docker/build-push-action@v3
#        with:
#          context: .
#          push: true
#          tags: ${{ steps.bundle_meta.outputs.tags }}
#          file: bundle.Dockerfile


#      - name: Catalog - checkout
#        uses: actions/checkout@v4
#        with:
#          repository: percona/everest-catalog
#          path: everest-catalog
#          token: ${{ secrets.ROBOT_TOKEN }}
#
#
#      - name: Catalog - create release branch
#        run: |
#          cd everest-catalog
#          # Check if the branch already exists
#          git fetch
#          check_branch=$(git ls-remote --heads origin ${RC_BRANCH})
#
#          if [[ -z ${check_branch} ]]; then
#            git checkout -b $RC_BRANCH
#            git push origin $RC_BRANCH
#          fi


#      - name: Everest - check out
#        uses: actions/checkout@v4
#
#      - name: Create and update Everest Backend RC-branch
#        run: |
#          # Check if the branch already exists
#          git fetch
#          check_branch=$(git ls-remote --heads origin ${RC_BRANCH})
#
#          if [[ -z ${check_branch} ]]; then
#            git checkout -b $RC_BRANCH
#            git push origin $RC_BRANCH
#
#            # update tag refs in scripts
#            sed -i "s/0.0.0/$VERSION/g" deploy/quickstart-k8s.yaml
#
#            # configure userdata for commits
#            git config --global user.email "everest-ci@percona.com"
#            git config --global user.name "Everest RC CI triggered by ${{ github.actor }}"
#
#            # commit and push the updated files
#            git commit -a -m "update version tag"
#            git push origin $RC_BRANCH
#          fi
